body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    background-image: url(livroaberto.webp) ;
    background-size: cover;
    
}

header {
    background: #333;
    color: white;
    padding: 20px;
    text-align: center;
    background-image: url(estante.webp);
    border-radius: 100px;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
}

section {
    padding: 20px;
    text-align: center;
}

.livro {
    background: white;
    margin: 10px auto;
    padding: 15px;
    width: 80%;
    max-width: 400px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

footer {
    background: #333;
    color: white;
    text-align: center;
    padding: 10px;
    position: relative;
    bottom: 0;
    width: 100%;
}
a{
    color: black;
    text-decoration: none;
}
h2{
    color: white;
}
h5{
    color: white;
}
.contato_p{
    color: white;
}